<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="sidebar-header">
          <h3>Menú</h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item"><a class="nav-link">Inicio</a></li>
          <li class="list-group-item"><a class="nav-link">Creación de evento</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="w-auto">
        <div class="w-100 text-end m-2 justify-content-end">
          <button class="rounded">NOTIFICACIONES</button>
          <button class="rounded">PERFIL</button>
        </div>
        <hr>
        <div class="w-100 m-2 text-center justify-content-center">
          <h3>Solicitud creación del evento</h3>
          <div class="row flex-fill">
  
            <!-- OPCION 1 COLUMNA 1 -->
            <div class="list-inline-item col card">
              <div class="card-title text-center">
                Datos del solicitante
              </div>
              <div class="card-body text-center">
                <div class="card align-content-center">
                  Nombre
                  <input class="form-control" type="text">
                </div>
                <div class="card">
                  Apellido
                  <input class="form-control" type="text">
                </div>
                <div class="card">
                  Correo
                  <input class="form-control" type="text">
                </div>
              </div>
            </div>
  
            <!-- OPCION 2 COLUMNA 2 -->
            <div class="list-inline-item col card">
              <div class="card-title text-center">
                Datos del Evento
              </div>
              <div class="card-body text-center">
                <div class="card align-content-center">
                  Nombre del Evento
                  <input class="form-control" type="text">
                </div>
  
                <div class="card collapse-horizontal">
                  <div>
                    Fecha inicio
                    <input class="form-control" type="date">
                  </div>
                  <div>
                    Fecha fin
                    <input class="form-control" type="date">
                  </div>
                </div>
  
                <div class="card collapse-horizontal">
                  <div>
                    Hora inicio
                    <input class="form-control" type="text">
                  </div>
                  <div>
                    Hora fin
                    <input class="form-control" type="text">
                  </div>
                </div>
  
                <div class="card">
                  Lugar
                  <input class="form-control" type="text">
                </div>
                <div class="card">
                  Tipo de Evento
                  <select class="" type="text">
                    <option>Taller</option>
                    <option>Exposición</option>
                    <option>Conferencia</option>
                  </select>
                </div>
              </div>
            </div>
  
            <!-- OPCION 3 COLUMNA 3 -->
            <div class="list-inline-item col card">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">Servicio</th>
                  <th scope="col">Presupuesto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>