
<div class="container row">
  <div class="list-group col-2">
    <div class="list-group-item">Inicio</div>
    <div class="list-group-item">Creación de evento</div>
  </div>
  <div class="col-10">
    <div class="w-auto">
      <div class="w-100 text-end m-2 justify-content-end">
        <button class="rounded">NOTIFICACIONES</button>
        <button class="rounded">PERFIL</button>
      </div>
      <hr>
      <div class="w-100 m-2 text-center justify-content-center">
        <h3>Solicitud creación del evento</h3>
        <div class="row flex-fill">
          <div class="list-inline-item col card">
            <div class="card-title text-center">
              Datos del solicitante
            </div>
            <div class="card-body text-center">
              <div class="card align-content-center">
                Nombre
                <input class="form-control" type="text">
              </div>
              <div class="card">
                Apellido
                <input type="text">
              </div>
              <div class="card">
                Correo
                <input type="text">
              </div>
            </div>
          </div>
          <div class="list-inline-item col card">
            HOLA BUENAS TARDES
          </div>
          <div class="list-inline-item col card">
            HOLA BUENAS TARDES
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
